.stores {
  background: var(--bg);
  padding: 10px;

  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  overflow-y: hidden;
  overflow-x: scroll;
}

.stores__wrapper {
  display: flex;
  flex-wrap: nowrap;
  min-width: fit-content;
}

.stores__user {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}

.stores__user > .user__thumb {
  width: 65px;
  height: 65px;
}

.stores__username {
  margin-top: 5px;
  font-weight: 600;
  text-align: center;
  color: var(--color);
}

.user__thumb--visited ~ .stores__username {
  color: rgba(142,142,142,1);
}

.user__thumb--any ~ .stores__username {
  color: rgba(142,142,142, 0.5);
}

@media (min-width: 960px) {
  .stores {
    display: none;
  }
}